@model Flight
@{
    ViewData["Title"] = "AirlineDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Uçuş Silme</h1>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-calendar-alt mr-1"></i>Uçuş Sil</div>
                <div class="card-body">
                    <div class="alert alert-danger">
                        <b>@Model.FlightId</b> ID <b>@Model.Departure</b> kalkışlı <b>@Model.Arrival</b> varışlı <b>@Model.FlightDate</b> tarihli uçuşu silmek istiyor musunuz?
                    </div>
                </div>
                <div class="card-body">
                    <form asp-controller="Home" asp-action="AirlineDelete" method="post">
                        <input type="hidden" asp-for="FlightId" />
                        <button type="submit" class="btn btn-danger">Kayıt Sil</button>
                        <a class="btn btn-info" asp-controller="Home" asp-action="AirlineList"> Uçuş Listesine Dön </a>
                    </form>
                </div>
            </div>
        </div>
    </main>

    

