
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Airlines - AnaSayfa</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet" href="~/css/style.css" />

</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="booking-cta">
                            <h1>Airlines</h1>
                            <hr />
                            <p>Yeniden göklerdeyiz! 4 Haziran itibariyle yurt içinde artırdığımız uçuş sayımızla sizleri güvenli seyahatlerde ağırlamaktan mutluluk duyuyoruz.</p>
                        </div>
                    </div>
                    <div class="col-md-7 col-md-offset-1">
                        <div class="booking-form">
                            <form asp-action="GetList" asp-controller="Home" method="post">
                                <div class="form-group">
                                    <div class="form-checkbox">
                                        <label for="roundtrip">
                                            <input type="radio" id="roundtrip" name="flight-type">
                                            <span></span>Tek Yön
                                        </label>
                                        <label for="one-way">
                                            <input type="radio" id="one-way" name="flight-type">
                                            <span></span>Çift Yön
                                        </label>
                                        <label for="multi-city">
                                            <input type="radio" id="multi-city" name="flight-type">
                                            <span></span>Çoklu Seyahat
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Nereden</span>
                                            <input class="form-control" name="Departure" id="Departure" type="text" placeholder="Şehir veya Havalimanı" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Nereye</span>
                                            <input class="form-control" name="Arrival" id="Arrival" type="text" placeholder="Şehir veya Havalimanı" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <span class="form-label">Tarih - Saat</span>
                                            <input class="form-control" name="Date" id="Date" type="datetime-local" required>
                                        </div>
                                    </div>
                                    @*<div class="col-md-6">
                                        <div class="form-group">
                                            <span class="form-label">Returning</span>
                                            <input class="form-control" type="date" required>
                                        </div>
                                    </div>*@
                                </div>
                                @*<div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Yetişkin (18+)</span>
                                            <select class="form-control">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Çocuk (0-17)</span>
                                            <select class="form-control">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <span class="form-label">Uçuş Class</span>
                                            <select class="form-control">
                                                <option>Economy Class</option>
                                                <option>Business Class</option>
                                                <option>First Class</option>
                                            </select>
                                            <span class="select-arrow"></span>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="form-btn">
                                    <button class="submit-btn">Uçuşları Listele</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>