@model User
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Kullanıcı Güncelle</h1>
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-user-plus mr-1"></i>Kullanıcı Güncelle</div>
                <div class="card-body">
                    <form asp-controller="Users" asp-action="UserEdit" method="post">
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <label asp-for="UserAuthority">Kullanıcı Yetki</label>
                            <input class="form-control" asp-for="UserAuthority" required >
                        </div>
                        <div class="form-group">
                            <label asp-for="UserName">Kullanıcı Ad Soyad</label>
                            <input class="form-control" asp-for="UserName" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserEmail">Kullanıcı E-Posta</label>
                            <input type="email" class="form-control" asp-for="UserEmail" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserPassword">Kullanıcı Şifre</label>
                            <input type="password" class="form-control" asp-for="UserPassword" required>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserPhone">Kullanıcı Telefon</label>
                            <input type="tel" class="form-control" asp-for="UserPhone" required>
                        </div>
                        <button type="submit" class="btn btn-success">Kayıt Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

